{% extends 'base.html' %} {% block content %}

<section class="hero-section text-center">
  <div class="container container--narrow">
    <div class="hero-section__box">
      <h2>STUDY RESOURCES</h2>
    </div>
    <div class="hero-section__search">
      <form id="searchForm" class="form" action="#" method="get">
        <div class="form__field">
          <input class="input input--text" id="formInput#search" type="text" name="search_query" value=""
            placeholder="Search Resources" />
        </div>
        <input class="btn btn--sub btn--lg" type="submit" value="Search" />
      </form>
    </div>
  </div>
</section>

<section div="notes-pagination">
  <main class="inbox my-xl">
    <div class="content-box">
      <ul class="messages">
        <li class="message">
          <a href="{% url 'study-resources:bookmark' %}"">
            <span class=" message__author">
            <h2>Bookmark</h2>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </main>
  <!-- {% include "pagination.html" with querySet=notes custom_range=custom_range %} -->
</section>
{% endblock content %}
