{% extends 'base.html' %} {% block content %}

<h2>this is the notes site</h2>
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <div id="header">
        <a class="backButton" href="{% url 'notes:notes-list' %}"><i class="im im-angle-left"></i></a>
        <div class="action-buttons">
          <div class="tag tag--pill tag--main">
            <a href="{% url 'notes:edit-notes' pk=note.id %}">edit</a>
          </div>
          <div class="tag tag--pill tag--main">
            <a href="{% url 'notes:delete-notes' pk=note.id %}">delete</a>
          </div>
        </div>
      </div>
      <h2 class="message__subject">{{ note.title }}</h2>
      <p class="message__date">{{ note.created_at }}</p>
      <p class="message__date">{{ note.updated_at }}</p>
      <div class="message__body">{{ note.body }}</div>
      <p class="message__date">
        <a href="{% url 'notes:view-image' pk=note.id %}" target="_blank" rel="noopener noreferrer">
          {{ note.filename }}
        </a>
      </p>
    </div>
  </div>
</main>

{% endblock content %}
