{% extends 'base.html' %} {% block content %}

<section class="hero-section text-center">
  <div class="container container--narrow">
    <div class="hero-section__box">
      <h2><a href={% url 'notes:notes-list' %}>NOTES LIST</a></h2>
    </div>
    <div class="hero-section__search">
      <form id="searchForm" class="form" action="{% url 'notes:notes-list' %}" method="get">
        <div class="form__field">
          <label for="formInput#search">Search Developers </label>
          <input class="input input--text" id="formInput#search" type="text" name="search_query" value=""
            placeholder="Search Notes">
        </div>
        <input class="btn btn--sub btn--lg" type="submit" value="Search">
      </form>
    </div>
  </div>
</section>

<section div="notes-pagination">
  <main class="inbox my-xl">
    <div class="content-box">
      {% for note in notes %}
      <ul class="messages">
        {% if note.is_viewed %}
        <li class="message">
          {% else %}
        <li class="message message--unread">
          {% endif %}
          <a href="{% url 'notes:notes-detail' pk=note.id %}">
            <span class="message__author">{{ note.title }}</span>
            <span class="message__date">{{ note.created_at }}</span>
            <span class="message__date">{{ note.updated_at }}</span>
          </a>
        </li>
      </ul>
      {% endfor %}
    </div>
  </main>
  {% include "pagination.html" with querySet=notes custom_range=custom_range %}
</section>
{% endblock content %}
