{% extends 'base.html' %} {% block content %}

<h2>Add Bookmark</h2>
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{% url 'study-resources:bookmarks-list' %}"
        ><i class="im im-angle-left"></i
      ></a>
      <br />
      <form class="form" action="" method="POST">
        {% csrf_token %}

        <div class="form__field">
          <label for="formInput#text">{{form.title.label}}</label>
          {{form.title}}
        </div>

        <div class="form__field">
          <label for="formInput#text">{{form.url.label}}</label>
          {{form.url}}
        </div>

        <input class="btn btn--sub btn--lg my-md" type="submit" value="Add" />
      </form>
    </div>
  </div>
</main>

{% endblock content %}
