<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Favicon -->
  <!-- <link rel="shortcut icon"  href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> -->
  {% comment %}
  TODO: have to add the favicon here
  TODO: configure the index.css in such a way it does not affect other section css component
  {% endcomment %}




  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href='{% static "uikit/styles/uikit.css" %}' />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href='{% static "styles/app.css" %}' />
  <!-- custom file css -->
  <link rel="stylesheet" href='{% static "styles/custom.css" %}' />
  <!--- Index file css -->
  <!-- <link rel="stylesheet" href='{% static "styles/index.css" %}' /> -->
</head>

<body>
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock navbar %}
  {% block content %} {% endblock content %}
</body>
<script src="{% static 'uikit/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>
