{% load static %}
<!-- Header Section -->
<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'home:homePage' %}" class="header__logo">
      <img src="{% static 'images/logo.svg' %}" alt="PersonalCapsule-logo" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem">
          <a href="{% url 'study-resources:resources-list' %}">Study Resources</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'notes:notes-list' %}">Notes</a>
        </li>
        <li class="header__menuItem"><a href="{% url 'taskmanager:tasks-list' %}">Taskmanager</a></li>
        <li class="header__menuItem">
          <a href="#">FileDownloader</a>
        </li>
        {% if request.resolver_match.namespace == "notes" %}
        <li class="header__menuItem">
          <a href="{% url 'notes:create-notes' %}" class="btn btn--sub">Add</a>
        </li>
        {% endif %}
        {% if request.resolver_match.url_name == "bookmarks-list" %}
        <li class="header__menuItem">
          <a href="{% url 'study-resources:create-bookmark' %}" class="btn btn--sub">Add</a>
        </li>
        {% endif %}
        {% if request.resolver_match.url_name == "videos-list" %}
        <li class="header__menuItem">
          <a href="{% url 'study-resources:create-videos-list' %}" class="btn btn--sub">Add</a>
        </li>
        {% endif %}

        {% if request.resolver_match.url_name == "daily-tasks-list" %}
        <li class="header__menuItem">
          <a href="{% url 'taskmanager:create-daily-task' %}" class="btn btn--sub">Add</a>
        </li>
        {% endif %}

        {% if request.resolver_match.namespace == "home" %}
        <li class="header__menuItem">
          <a href="{% url 'home:logout' %}" class="btn btn--sub">Logout</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
