{% extends 'base.html' %} {% block content %}

<section class="hero-section text-center">
  <div class="container container--narrow">
    <div class="hero-section__box">
      <h2>Task Manager</h2>
    </div>
  </div>
</section>

<section div="notes-pagination">
  <main class="inbox my-xl">
    <div class="content-box">
      <ul class="messages">
        <li class="message">
          <a href="#">
            <span class="message__author">
              <h2>Daily Task</h2>
            </span>
          </a>
        </li>
      </ul>
      <ul class="messages">
        <li class="message">
          <a href="#">
            <span class="message__author">
              <h2>Weekly Task</h2>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </main>
  <!-- {% include "pagination.html" with querySet=notes custom_range=custom_range %} -->
</section>
{% endblock content %}
