{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-section text-center">
  <div class="container container--narrow">
    <div class="hero-section__box">
      <h2>Videos List</h2>
    </div>
    <div class="hero-section__search">
      <form id="searchForm" class="form" action="#" method="get">
        <div class="form__field">
          <input class="input input--text" id="formInput#search" type="text" name="search_query" value=""
            placeholder="Search Videos" />
        </div>
        <input class="btn btn--sub btn--lg" type="submit" value="Search" />
      </form>
    </div>
  </div>
</section>

<section class="projectsList">
  <div class="container">
    <div class="grid grid--three">
      {% for video in videos %}
      <div class="column">
        <div class="card project" id="video">
          <div id="video-logo">
            <a href="{{ video.url }}" target="_blank" rel="noopener noreferrer" class="project">
              <img class="project__thumbnail" id="custom-image" src="{% static 'images/video.png' %}"
                alt="project thumbnail" />
              <div class="card__body">
                <h3 class="project__title" style="text-align: center;">{{ video.title }}</h3>
              </div>
            </a>
          </div>

          <div style="display: inline-block; padding:1rem;">
            <span class="btn btn--sub btn--md">
              <a style="color: white;" href="{% url 'study-resources:video-description' pk=video.id %}">view</a>
            </span>

            <span class="btn btn--sub btn--md">
              <a style="color: white;" href={% url 'study-resources:edit-video' pk=video.id %}>edit</a>
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
